PORT=3000
MONGODB_URI=mongodb://satriaburhanuddinannail_db_user:220410@ac-fmajrxk-shard-00-00.ko0cbbs.mongodb.net:27017,ac-fmajrxk-shard-00-01.ko0cbbs.mongodb.net:27017,ac-fmajrxk-shard-00-02.ko0cbbs.mongodb.net:27017/?ssl=true&replicaSet=atlas-11tpkj-shard-0&authSource=admin&appName=Cluster0
NODE_ENV=development
JWT_SECRET=isi-dengan-secret-kamu-sendiri
JWT_EXPIRES_IN=1d
EXTERNAL_API_KEY=79d21194ca6f7b2023027d1fcf24bc6f1d8d9b5577e4ed5b45bef9256058a2e4